.corpo{
    margin: 0;
    background-color: rgb(54, 53, 53) ;
}

.app{
    background-color: rgb(54, 53, 53);
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "rosa azul verde"
    "azules azul verde"
    "vermelho vermelho vermelho";
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.rosa{
    grid-area: rosa;
    border: 2px black;
    background-color: rgb(194, 27, 144);
}
.azul{
    grid-area: azul;
    border: 2px black;
    background-color: rgb(0, 162, 255);
}
.verde{
    grid-area: verde;
    border: 2px black;
    background-color: green;
}
.azules{
    grid-area: azules;
    border: 2px black;
    background-color: blue;
}
.vermelho{
    grid-area: vermelho;
    border: 2px black;
    background-color: red;
}